<% provide(:title, @event.name) %>
<% gmap_address = @event.address.gsub(' ', '+') %>
<h1>
  <%= @event.name %> 
</h1>
<h2>at <%= @event.location %>
  <% if !@event.date_applicable %>
	on <%= display_date(@event) %>
	<% if !@event.all_day %>
	  <br><%= display_time(@event) %>
	<% end %>
  <% else %>
	on <%="#{@event.day}s"%>
	<% if @event.repeat %>
	  <%="(#{@event.repeat})"%>
	<% end %>
	<% if !@event.all_day %>
	  <br>at<%= display_time(@event) %>
    <% end %>
  <% end %>
</h2>

<div class="row">
  <aside class="span3">
    <section>
      <h1 style="margin-bottom: 10px">
        <a 
		href=<%="http://maps.google.com/?q=#{gmap_address}"%>> 
		  <%= @event.address %>
		</a>
	  </h1>
	  <h1>
		<% sensor = "sensor=false" %>
		<% size = "size=200x300" %>
		<% vanderbilt = "vanderbilt+university" %>
		<% path = "path=#{vanderbilt}|#{gmap_address}" %>
		<% params = "#{size}&#{path}&#{sensor}" %>
		<% url = "https://maps.googleapis.com/maps/api/staticmap?#{params}"%>
		<% alt = "Map of #{@event.name}" %>
		<%= image_tag(url, alt: alt) %>
      </h1>
    </section>
  </aside>
  <aside class="span3 pull-right">
	<h2>
      <% full_website = String.new %>
	  <% if !@event.website.include?("http://") %>
   		<% full_website = "http://#{@event.website}" %>
	  <% else %>
	    <% full_website = @event.website %>
	  <% end %>
   	  <a href=<%= full_website %>><%= @event.website %></a>
	</h2>
	<h3 style="text-align: right;">
	  Categories:
	</h3>
	<p style="text-align: right;">
	  <% if @event.label %>
		<b>Type:</b> <%= @event.label %> <br>
	  <% end %>
	  <% if @event.cost %>
		<b>Cost:</b> <%= display_cost(@event) %> <br>
	  <% end %>
	  <% if @event.age_restrict %>
		<b>Age restriction:</b> <%= @event.age_restrict %>
	  <% end %>
	</p>
  </aside>
  <div class="center">
	<h3>
	<%= @event.description %>
	</h3>
  </div>
</div>
<div>
 <% if signed_in? %>
	<%= link_to "delete", @event, method: :delete, 
			:data => { confirm: "You sure?" },
			class: "pull-right btn btn-danger" %>
	<%= link_to "edit", edit_event_path, 
			class: "pull-right btn btn-warning" %>
	<% if !@event.approved %>
	  <%= link_to "approve", approve_path(@event), 
			:data => { confirm: "You sure?" },
			class: "pull-right btn btn-success" %>
	<% end %>
  <% else %>
	<%= link_to "incorrect info?", reportissue_path(@event),
			class: "pull-right btn btn-danger" %>
  <% end %>  
</div>

